<?xml version="1.0"?>
<config>
    <global>
        <models>
            <zaproo>
                <class>AlexDev_Zaproo_Model</class>
            </zaproo>
        </models>
        <blocks>
            <zaproo>
                <class>AlexDev_Zaproo_Block</class>
            </zaproo>
        </blocks>
        <helpers>
            <zaproo>
                <class>AlexDev_Zaproo_Helper</class>
            </zaproo>
        </helpers>
        <events>
            <customer_login>
                <observers>
                    <zaproo>
                        <type>model</type>
                        <class>zaproo/observer</class>
                        <method>logCustomer</method>
                    </zaproo>
                </observers>
            </customer_login>
        </events>
    </global>

    <frontend>
        <routers>
            <alexdev_zaproo>
                <use>standard</use>
                <args>
                    <module>AlexDev_Zaproo</module>
                    <frontName>zaproo</frontName>
                </args>
            </alexdev_zaproo>
        </routers>
        <layout>
            <updates>
                <zaproo>
                    <file>zaproo.xml</file>
                </zaproo>
            </updates>
        </layout>
    </frontend>
</config>