<?xml version="1.0"?>
<config>
    <modules>
        <AlexDev_Zaproo>
            <version>0.1.5</version>
        </AlexDev_Zaproo>
    </modules>
    <global>
        <models>
            <zaproo>
                <class>AlexDev_Zaproo_Model</class>
                <resourceModel>alexdev_zaproo_resource</resourceModel>
            </zaproo>
            <alexdev_zaproo_resource>
                <class>AlexDev_Zaproo_Model_Resource</class>
                <entities>
                    <test><table>alexdev_zaproo_test</table></test>
                </entities>
            </alexdev_zaproo_resource>
        </models>
        <blocks>
            <zaproo>
                <class>AlexDev_Zaproo_Block</class>
            </zaproo>
        </blocks>
        <helpers>
            <zaproo>
                <class>AlexDev_Zaproo_Helper</class>
            </zaproo>
        </helpers>
        <events>
            <customer_login>
                <observers>
                    <zaproo>
                        <type>model</type>
                        <class>zaproo/observer</class>
                        <method>logCustomer</method>
                    </zaproo>
                </observers>
            </customer_login>
        </events>
        <resources>
            <zaproo_setup>
                <setup>
                    <module>AlexDev_Zaproo</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </zaproo_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <alexdev_zaproo>
                <use>standard</use>
                <args>
                    <module>AlexDev_Zaproo</module>
                    <frontName>zaproo</frontName>
                </args>
            </alexdev_zaproo>
        </routers>
        <layout>
            <updates>
                <zaproo>
                    <file>zaproo.xml</file>
                </zaproo>
            </updates>
        </layout>
    </frontend>
</config>