<?xml version="1.0"?>
<config>
    <modules>
        <AlexDev_Zaproo>
            <version>0.1.6</version>
        </AlexDev_Zaproo>
    </modules>
    <global>
        <models>
            <zaproo>
                <class>AlexDev_Zaproo_Model</class>
                <resourceModel>alexdev_zaproo_resource</resourceModel>
            </zaproo>
            <alexdev_zaproo_resource>
                <class>AlexDev_Zaproo_Model_Resource</class>
                <entities>
                    <test>
                        <table>alexdev_zaproo_test</table>
                    </test>
                    <article>
                        <table>alexdev_zaproo_article</table>
                    </article>
                    <eav_attribute>
                        <table>alexdev_zaproo_articles_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </alexdev_zaproo_resource>
        </models>
        <blocks>
            <zaproo>
                <class>AlexDev_Zaproo_Block</class>
            </zaproo>
        </blocks>
        <helpers>
            <zaproo>
                <class>AlexDev_Zaproo_Helper</class>
            </zaproo>
        </helpers>
        <events>
            <customer_login>
                <observers>
                    <zaproo>
                        <type>model</type>
                        <class>zaproo/observer</class>
                        <method>logCustomer</method>
                    </zaproo>
                </observers>
            </customer_login>
            <controller_front_init_routers><!-- event for custom router - url rewrites -->
                <observers>
                    <zaproo>
                        <type>model</type>
                        <class>zaproo/observer</class>
                        <method>initControllerRouters</method>
                    </zaproo>
                </observers>
            </controller_front_init_routers>
        </events>
        <resources>
            <zaproo_setup>
                <setup>
                    <module>AlexDev_Zaproo</module>
                    <class>AlexDev_Zaproo_Model_Resource_Setup</class>
                </setup>
            </zaproo_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <alexdev_zaproo>
                <use>standard</use>
                <args>
                    <module>AlexDev_Zaproo</module>
                    <frontName>zaproo</frontName>
                </args>
            </alexdev_zaproo>
        </routers>
        <layout>
            <updates>
                <zaproo>
                    <file>zaproo.xml</file>
                </zaproo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zaproo before="Mage_Adminhtml">AlexDev_Zaproo_Adminhtml</zaproo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <zaproo>
                    <file>zaproo.xml</file>
                </zaproo>
            </updates>
        </layout>
        <translate>
            <modules>
                <zaproo>
                    <files>
                        <default>AlexDev_Zaproo.csv</default>
                    </files>
                </zaproo>
            </modules>
        </translate>
        <global_search>
            <article>
                <class>zaproo/adminhtml_search_article</class>
                <acl>zaproo</acl>
            </article>
        </global_search>
        <events>
            <controller_action_predispatch>
                <observers>
                    <zaproo>
                        <type>model</type>
                        <class>zaproo/observer</class>
                        <method>controllerActionPredispatch</method>
                    </zaproo>
                </observers>
                <page_block_html_topmenu_gethtml_before><!-- add link to top menu -->
                    <observers>
                        <zaproo>
                            <class>zaproo/observer</class>
                            <method>addItemsToTopmenuItems</method>
                        </zaproo>
                    </observers>
                </page_block_html_topmenu_gethtml_before>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <zaproo>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>article</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <meta_title>Articles</meta_title>
            </article>
        </zaproo>
    </default>
</config>